<div class="flyout-backdrop" (click)="onClose()" role="button" [attr.aria-label]="'Close ' + ariaLabel()" tabindex="-1"></div>

<div class="flyout-panel" [style.width]="width()" role="dialog" aria-modal="true" [attr.aria-label]="ariaLabel()">
  <div class="flyout-panel__header">
    <div class="flyout-panel__header-content">
      <ng-content select="[flyoutHeader]"></ng-content>
    </div>
    <button type="button" class="flyout-panel__close" (click)="onClose()" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="flyout-panel__body">
    <ng-content select="[flyoutBody]"></ng-content>
  </div>

  <div class="flyout-panel__footer">
    <ng-content select="[flyoutFooter]"></ng-content>
  </div>
</div>
